:root {
    --primary-background: linear-gradient(to right, #7600ff , #ff0069e0);
    --error-color-primary: rgb(190, 35, 35);
    --primary-color: #fc3780;
}

body {
    margin: 0;
    min-height: 100vh;
}

#app-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 130px 1fr;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

#sidebar{
    background-color: #eeeeee;
    min-height: 100%;
    grid-row:2/3;
    box-shadow: 2px 1px 6px 0px rgb(0 0 0 / 25%);
}

#header {
    background-image: var(--primary-background);
    width: 100%;
    grid-column: 1/3;
    box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 25%);
}

ul{
    padding-left: 0;
}

li {
    list-style: none;
    padding: 15px 40px;
    cursor: pointer;
    font-weight: lighter;
}

li:hover {
    background-color: #b3b2b2;
}

.menu-items {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 40px;

}

.sub-item {
    padding-left: 90px;
}

.pull-right {
    margin-left: auto;
}

.active {
    background-image: var(--primary-background);
    color: white;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 1;
}

.modal-content{
    display: flex;
    max-width: 700px;
    background-color: white;
    border-radius: 5px;
    gap: 5px;
    box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 25%);
}

form {
    display: flex;
    flex-flow: row wrap;
    gap: 3vw;
    padding: 50px 10px;
    align-items: center;
    margin-left: auto;
    width: 75%;
}

label {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-bottom: 2px;
}

#task-submission>.input-group>input, textarea, select {
    width: 200px;
    border: none;
    border-bottom: 1px solid #bcb9b9;
    resize: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

textarea {
    border: 1px solid #bcb9b9;
    border-radius: 5px;
}


input:invalid:not(:placeholder-shown) {
  border-bottom:1px solid var(--error-color-primary);
}

input:focus {
  border-color: var(--primary-color);
  outline: 0;
}

input:required+label:after{
    content: " *";
    color: var(--error-color-primary);

}

.input-group {
    display: flex;
    flex-flow: column-reverse nowrap;
}

.btn-group {
    display: flex;
    gap: 30px;
}


.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    padding-top: 10px;
    padding-right: 10px;
    cursor: pointer;
    margin-left: auto;
}

#main-inner-container {
    padding: 40px;
    font-size: 14px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tasks-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}

.task {
    border: 1px solid gray;
    border-radius: 5px;
    padding:10px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-left: 6px solid gray;
    box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 25%);
}

.priority {
    border-left: 6px solid red;
}

.low-priority {
    border-left: 6px solid green;
}

.task-title {
    display: flex;
    gap: 10px;
    width: 60%;
}

.task-controls {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;

}

button {
    border-radius: 4px;
    padding: 5px 20px;
    border: 2px solid var(--primary-color);
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 25%);
}


button.primary {
    color: white;
    background-color: var(--primary-color);
    border: none;
    border: 2px solid var(--primary-color);
}

button.secondary {
    color: var(--primary-color);
    background-color: white;
    
}

.icon-btn:hover, input[type="checkbox"] {
    color: var(--primary-color);
    cursor: pointer;
}

.due-date {
    font-size: 12px;
}

.task-text {
    margin: 0;
}


.tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%; 
    width: 100px;
    margin-left: -55px;
    margin-top:5px;
    white-space: normal;
}

.task-info {
    position: relative;
    display: inline-block;
}

.task-info:hover .tooltiptext {
    visibility: visible;
}

.task-info .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }

#project-list.hide-accordion {

    max-height: 0px;

}

#project-list {
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 0.5s;
}

#accordion-header:after {
    content: '\25BA';
    font-weight: bold;
    float: right;
    margin-left: auto;


}

.opened:after {
    content: '\25BC'!important;
    
}

.completed>.task-title>.task-text {
    text-decoration: line-through;

}

.completed {
    font-style: italic;
    color: grey;
}

.delete-project {
    margin-left: auto;
    font-weight: bold;
    font-size: 19px;
}

.new-project {
    display: none;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top:15px;
}

.hide-btn {
    display: none;
}

.show-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top:15px;
}

#projectNameInput {
    border: 1px solid gray;
    outline: 0;
    border-radius: 5px;
    padding: 3px;
}


#projectNameInput:focus {
    border: 1px solid var(--primary-color);
    outline: 0;

}

